/* ====================== FONTS ====================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
h1, h2, h3, h4, p, fieldset, label, input, form, span, button, div  {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}

/* =================================================== */

/* ================= GRID PROPERTIES ================= */
.grid-container {
    /* height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0; */
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 'header' 
                         'navigation'
                         'main';    
}

header {
    grid-area: header;

}

nav {
    grid-area: navigation;
}


/* =================================================== */

/* ===================== HEADER ===================== */

header {    

    display: grid;
    grid-template-columns: 1fr 35px 10px 50px 85px;
    grid-template-rows: 65px;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    background: #7477bf;
    color: #fff;
} 

header > h1 {
    /* margin-right: auto; */
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

section,
/* .main-header, */
.alert,
.traffic-container,
.daily,
.mobile,
.social-stats,
.new-members,
.activity,
.settings {
    padding: 0 1em;
}

.traffic-container,
.daily,
.mobile,
.social-stats,
.new-members,
.activity,
.messaging {
    border-bottom: 1px solid red;
    padding-bottom: 16px;
}


/* section::after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0px;
    bottom: 90px;
    left: 55px;
    height: 1px;
    background-color: red;
} */

.notifications {
    display: flex;
    height: 1.5em;
    width: fit-content;
}

.vertical-break {
    border-left: .5px solid white;
    height: 2.6em;
    padding: 0;
}

.vertical-break:nth-of-type(2) {
    display: none;
}

.line-break {
    display: block;
    background: #e5e5e5;;
    height: 1px;
    margin-top: 20px;
}

.profile-photo {
    height: 2.5em;
    border-radius: 50%;
}

.member-photo {
    height: 4em;
    border-radius: 50%;
}

.userName {
    min-width: max-content;
    font-size: .85em;
}
/* ====================================================== */


/* ===================== NAVIGATION ===================== */
.navigation {
    background-color: #4d4c72;
    padding: 5px 0;
    display: flex;
    place-content: center;
    place-items: center;
    column-gap: 40px;
}

nav ul li  {
    width: 33px;
}

nav ul li:nth-child(2) {
    width: 30px;
}


/* =================================================== */
.main-header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 16px;
}

.main-header h2 {
    margin-right: 16px;
}

.tab {
    height: 65px;
    background-color: rgb(236, 235, 238);
    border-bottom: 1px solid rgb(207, 205, 211);
    border-left: 1px solid rgb(207, 205, 211);
}

.notification-button {
    width: 25px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.notification-button svg:hover,
a[href$="link"] :hover {
    opacity: 70%;
    transition: all .25s ease;
}

.notification-signal {
    background: rgb(157, 255, 82);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(157 255 82);
    animation: pulse-red 2s infinite;
    cursor: pointer;
}

  @keyframes pulse-red {
	0% {
		transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(157, 255, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 15px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

/* ===================== ALERT ===================== */
.dropdown {
    display: flex;
    align-content: space-between;
    flex-direction: row-reverse;
    position: relative;
    margin: 15px 0;
    border-radius: 25px;
    background: #7477bf;
    padding: 10px 24px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}


.dropdown-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #9092be;
    color: white;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

.link {
    margin-right: auto;
    background: none;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: .9em;
    cursor: pointer;
    padding: 0;
    color: white;
    transition: .17s ease-in;
}

.dropdown.active > .link,
.link:hover {
    opacity: 60%
}

.close-alert {
    background: none;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: .9em;
    cursor: pointer;
    padding: 0;
    color: white;
    transition: .17s ease-in;
}

.close-alert:hover {
    color: red;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.message-received {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: .15s ease-in;
    display: block;
}

.message-received:hover { 
    opacity: 60%;
    background-color: #4d4c72;
    border-radius: 50px;
}

/* ================== TRAFFIC ==================  */
.slider-nav {
    display: flex;
    align-content: center;
    justify-content: space-between; 
    border-radius: 20px;
    margin-bottom: 20px;
}

.slider-input {
    display: none;
}

.slider-input:checked + .slider-label {
    color: white;
    transition: color .25s;
}

.slider-label {
    position: relative;
    width: 120px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: color .25s;
}

.slider {
    z-index: -1;
    position: absolute;
    border-radius: 20px;
    height: 40px;
    background-color: #65bd63;;
    transition: .25s ease-out;
}  
/* ==================================================== */

/* ====================== CHARTS ======================  */

.half-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    max-width: 100%;
  }
  
/* ==================================================== */

/* ================== SOCIAL STATUS ================== */
.social-cc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1.5px solid#cdcdcd;
    border-radius: 10px;
    flex: 1;
}

.social-image {
    min-width: 80px;
    padding: 10px;
    margin-right: 5px;
}

.social-text :first-child,
.social-text :last-child {
 margin: 0;
}

.social-text :first-child {
    color: #7578c0;
    font-weight: 400;
    font-size: 1.1em;
}

.social-text :last-child {
    color: #787878;
    font-weight: 300;
    font-size: 200%;
} 

/* SVG add ons */
.circle{fill:#767ABE;} 
.icon-color{fill:#FFFFFF;}

.social > svg {
    width: 75px;
}  

/*=========== NEW MEMBERS & RECENT ACTIVITY ===========*/
 .members-cc,
 .activity-cc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.members-cc p,
.member-comment p {
    margin: 0;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 15px;
}

.members-container:last-child {
    border: none;
    padding-bottom: 0;
}

.members-container > span {
    display: none;
}

.member-info,
.member-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.member-info a {
    text-decoration: none;
}

/* ================== MESSAGE USERS ================== */
.message-container {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding-bottom: 20px;
}

.message-container :first-child,
.message-container textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid #cdcdcd;
    background: #f5f5f5;
}

.message-container input::placeholder,
.message-container textarea::placeholder {
    color: #cdcdcd;
}

.message-container button {
    padding: 10px;
    background: #7477bf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;;
}

.message-container input:focus,
.message-container textarea:focus,
.timezone select:focus
 {
    outline: none;
    transition: all .05s ease;
    border: 1.5px solid #7477bf;
}

/* ================== SETTINGS TOGGLE BUTTON ================== */
/* .settings {
    display: flex;
    flex-direction: column;
    gap: 10px; */
    /* margin-bottom: 40px */
/* }

.settings-label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    width: 60px;
    height: 30px;
    margin-left: 227px; */
    /* margin-bottom: 13px; */
    /* top: 6.5px; */
/* }

.settings-label input {
    display: none;
}

.settings-label input:checked + .rounded-slider {
    background: #7578c0;
}

.settings-label input:checked + .rounded-slider:after {
    transform: translateX(30px);
}

/* .settings-label label p{
    min-width: 175px;
    margin-right: 112px;
    margin-top: 0;
    margin-bottom: 0;
} */
/* 
.rounded-slider {
    position: absolute;
    background: #ababab;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease;
}

.rounded-slider:after {
    position: absolute;
    content: ' '; 
    width: 28px;
    height: 28px;
    background:#fff;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: all .25s ease;
}  */
/* ================================================== */

/* ================== SETTINGS TIMEZONE ================== */
/* .settings h3 {
    margin-bottom: 0;
} */

/* 75px 65px 65px 50px 50px */

/* .settings {
    display: grid;
    grid-template-rows:50px 50px 108px 50px 50px  ;
    gap: 20px;
} */
/* 
.settings label {
    display: grid;
    grid-template-columns: 220px 75px;
    display: grid;
    grid-template-columns: 220px 75px;
    grid-template-rows: 40px 25px;
    align-items: center;
} */

.settings {
    display: grid;
    grid-template-rows: 44px 44px 72.5px 45px 0fr;
    grid-gap: 14.5px;
}

.settings label {
    display: grid;
    grid-template-columns: 220px 75px;
    align-items: center;
}

.form-field {
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid #cdcdcd;
    background: #f5f5f5;
    color: #cdcdcd
}


/* .settings-cc {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

/* .form-field {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid #cdcdcd;
    background: #f5f5f5;
    color: #cdcdcd
  } */

  /* .arrow {
    position: absolute;
    border: solid #7578c0;
    border-width: 0 2px 2px 0;
    padding: 3px;
    top: 20px;
    margin-right: 25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
   */
  /* select::-ms-expand {
  display: none;
  } */
  
  /* .timezone  {
    -webkit-appearance: none;
    -moz-appearance: none;
    flex: 1;    
    appearance: none;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid #cdcdcd;
    background: #f5f5f5;
    color: #cdcdcd;
  } */

/* ================================================== */

/* ================== SETTINGS SAVE/CANCEL ================== */
.settings-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.settings-buttons > button {
    flex: 1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.settings-buttons :nth-child(1) {
   background-color: #7578c0;
}

.settings-buttons :nth-child(2) {
    background-color:#ababab;
 }
 
/* ================================================== */


/* ====================== TABLET ==================== */
@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 'header header'
                             'navigation main' ;
    }

    .navigation {
        flex-direction: column;
        place-content: flex-start;
        row-gap: 25px;
        height: 100%;
        padding-top: 20px;
    }

    main { 
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-header,
    .alert,
    .traffic-container,
    .social-stats,
    .new-members,
    .activity,
    .messaging,
    .settings {
        grid-column: 1 / span 2;
    }

    /* .dailym{
        grid-column: 1/ span 1;
    }

    .mobile {
        grid-column: 2/ span 3;
    } */

    .social-cc {
        display: flex;
        flex-direction: row;
    }

    .social-image {
        padding: 10px;
    }

    .social-text :first-child {
        font-size: 1.1em;
    }

    .members-container {
        flex-direction: row;
        gap: 20px;
    }

    .members-container > span {
        display: block;
        font-size: 18px;
        color: #7477bf;
    }
    
    .member-info,
    .member-comment {
        align-items: flex-start;
        margin-right: auto;
        text-align: initial;
    }

    /* .messaging {
        padding-bottom: 0;
    } */
    
    /* .settings {
        grid-template-rows: 44px 44px 109px 46px 0fr
    } */
}

/* ====================== DESKTOP ==================== */
@media screen and (min-width: 1024px) { 

    .new-members,
    .messaging {
        grid-column: 1/ span 1;
    }
    
    .messaging {
        border-bottom: none;
        padding-bottom: initial;
    }

    .activity,
    .settings {
        grid-column: 2/ span 1;
    }

    /* .settings {
        display: grid;
        grid-template-rows: 1fr 1fr 2fr 1fr;
    } */
    

}

